.app {
  max-width: 1000px;
  margin: auto;
}

.inputs-wrapper {
  justify-content: center;
  display: flex;
  gap: 30px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.summary-wrapper {
  margin: 20px 0;
}

.table-wrapper {
  display: flex;
  justify-content: center;
}

.table-wrapper table {
  width: 100%;
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}